/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */

:root{

    --primary: #c6a16e;

    --gold: #e0c08f;

    --brown: #4b3a2f;

    --dark: #2b211b;

    --text: #3e322c;

    --gray: #7a6d66;

    --bg: #f8f4ee;
}

/* BODY */

body{

    font-family: 'Inter', sans-serif;

    background:
    linear-gradient(
    135deg,
    #f8f4ee,
    #efe5d8);

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 30px;

    overflow: hidden;
}

/* LOGOUT SECTION */

.logout-section{

    width: 100%;

    display: flex;

    justify-content: center;

    align-items: center;
}

/* CARD */

.logout-card{

    width: 100%;

    max-width: 650px;

    background:
    rgba(255,255,255,0.45);

    backdrop-filter: blur(10px);

    border:
    1px solid rgba(198,161,110,0.15);

    border-radius: 40px;

    padding: 80px 60px;

    text-align: center;

    box-shadow:
    0 20px 50px rgba(0,0,0,0.06);
}

/* ICON */

.logout-icon{

    width: 110px;

    height: 110px;

    margin: auto;

    margin-bottom: 35px;

    border-radius: 50%;

    display: flex;

    justify-content: center;

    align-items: center;

    background:
    linear-gradient(
    135deg,
    #c6a16e,
    #e0c08f);
}

/* ICON I */

.logout-icon i{

    font-size: 3rem;

    color: #2b211b;
}

/* MINI TITLE */

.mini-title{

    display: inline-block;

    padding: 10px 18px;

    border-radius: 50px;

    background:
    rgba(198,161,110,0.12);

    color: var(--primary);

    font-weight: 600;

    margin-bottom: 30px;
}

/* TITLE */

.logout-card h1{

    font-family:
    'Cormorant Garamond',
    serif;

    font-size: 4rem;

    line-height: 1.2;

    color: var(--brown);

    margin-bottom: 25px;
}

/* TEXT */

.logout-card p{

    color: var(--gray);

    line-height: 2;

    max-width: 500px;

    margin:
    0 auto 45px;
}

/* BUTTONS */

.logout-buttons{

    display: flex;

    justify-content: center;

    gap: 20px;

    flex-wrap: wrap;
}

/* PRIMARY BUTTON */

.primary-btn{

    text-decoration: none;

    padding: 16px 32px;

    border-radius: 50px;

    background:
    linear-gradient(
    135deg,
    #c6a16e,
    #e0c08f);

    color: #2b211b;

    font-weight: 600;

    transition: 0.3s;
}

/* SECONDARY BUTTON */

.secondary-btn{

    text-decoration: none;

    padding: 16px 32px;

    border-radius: 50px;

    border:
    1px solid rgba(198,161,110,0.25);

    color: var(--brown);

    font-weight: 600;

    transition: 0.3s;
}

/* HOVER */

.primary-btn:hover,
.secondary-btn:hover{

    transform: translateY(-4px);

    box-shadow:
    0 10px 20px rgba(0,0,0,0.06);
}

/* RESPONSIVE */

@media(max-width:700px){

    .logout-card{

        padding: 50px 30px;
    }

    .logout-card h1{

        font-size: 2.8rem;
    }

    .logout-buttons{

        flex-direction: column;
    }
}